---
---

@import "{{ site.theme }}";
body {
  background-color: #fff;
  padding:50px;
  font-family: "Times New Roman", Times, serif;
  font: "Times New Roman";
  color:#595959;
  font-weight:400;
}

h1 { font-family: "Bookman Old Style"; font-size: 23px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } h3 { font-family: "Bookman Old Style"; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } p { font-family: "Bookman Old Style"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } blockquote { font-family: "Bookman Old Style"; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } pre { font-family: "Bookman Old Style"; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; }
}
